{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    <main class="content">
        <div class="content_header">
            <h1>
                HEADER
               <!--  {% if user.is_authenticated and home %}
                Welcome {{user}}, check {% endif %} Posts
                {% if profile %} from {{profile_username}}{% endif %} -->
            </h1>
        </div>
        {% if profile %}
        <div class="profile_info">
            <img class = "profile_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu51XqkERN4KCU2HF526phPswwmMY9qjexFA&usqp=CAU" alt="profile image">
            <div class="profile_info_stats">
                <p>@{{profile_username}}</p>
                <p id="followers">Followers: {{followers}}</p> 
                <p id="following">Following: {{following}}</p>
            {% if not home %}
                {% if follows %}
                <button id="tof" data-f="{{profile_username}}" class="post_btn follow">Unfollow</button>
                {% else %}
                <button id="tof" data-f="{{profile_username}}" class="post_btn follow">Follow</button>
                {% endif %}
            {% endif %}
        </div>
        </div>
        {% endif %}
        {% if user.is_authenticated and show_new %}
        <div class="create_post">
            <form action="/posts" method="POST">
                {% csrf_token %}
                <div class="div_post_text">
                    <img class = "profile_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu51XqkERN4KCU2HF526phPswwmMY9qjexFA&usqp=CAU" alt="profile image">
                    <input class="input_post_text" name="text" type="text" placeholder="What's new ?">
                </div>
                <div class="post_buttons">  
                    <p>Posting as @nicolodijunior</p>                  
                    <button type="submit" class="post_btn">Post!</button>
                </div>
            </form>
        </div>
        {% endif %}
        <div class="content-body">            
            {% for p in posts %}   
                <div class="post_div" id="{{post.id}}">
                    <div class="post_details" id={{p.user.username}}>
                        <p><a href="/profile/{{p.user.username}}" class="profile_link">@{{p.user.username}} </a> on {{p.datetime}}</p>                
                    </div>
                    <div id="post_text_{{p.id}}" class="post_text">
                        <p id="text_{{p.id}}">{{p.text}}</p>                            
                    </div>
                    <div class="post_interactions">                       
                        {% if p.user.username == request.user.username%}
                            <span class="material-symbols-outlined">
                                <button id="edit" data-postid="{{p.id}}" class="post_btn">edit</button>
                            </span>  
                        {% endif %} 
                        <span class="material-symbols-outlined">
                            <button id="like" data-postid="{{p.id}}" class="post_btn">favorite</button>
                        </span>                         
                        <p>This post has {{p.likes.count}} likes</p>
                    </div>
                </div>        
            {% endfor %}
            <div class="div_pagination">
                        {% if posts.has_previous %}
                            <a class="page-link" href="?page=1">First</a>
                            <a class="page-link" href="?page={{ posts.previous_page_number }}"><ion-icon name="arrow-back-circle-outline"></ion-icon></a>
                        {% endif %}
                        <a class="page-link" href="#">Page {{ posts.number }} of {{ posts.paginator.num_pages }}.</a>
                        {% if posts.has_next %}
                            <a class="page-link" href="?page={{ posts.next_page_number }}"><ion-icon name="arrow-forward-circle-outline"></ion-icon></a>
                            <a class="page-link" href="?page={{ posts.paginator.num_pages }}">Last</a>
                        {% endif %}
            </div>
        </div>
     </div>
    </main>
{% endblock %}
{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}