{% extends "network/layout.html" %}

{% block body %}
<div class="login_area">
    <h1 class="log">Login CS 50cial Media</h1>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
        <form class="log_form" action="{% url 'login' %}" method="post">
            <div class="form-outer">
            {% csrf_token %}
                <div class="form-container">
                    <label for="username">Username </label>
                    <input autofocus class="log_info" type="text" name="username" id="username" placeholder="Username">
                    <label for="password">Password </label>
                    <input id="password" class="log_info" type="password" name="password" placeholder="Password"> 
                </div>  
            </div> 
            <div class="submit">  
                <input class="post_btn login_btn" type="submit" value="Login">
            </div>      
        </form>
    <div class="form_footer"> 
        Don't have an account? <a class="profile_link" href="{% url 'register' %}">Register here.</a>
    </div>
</div>

{% endblock %}